@import 'https://fonts.googleapis/css?family=Roboto:300,400,500';

/*css comum a todos*/


/*css do inicio*/

body {
    width: auto;
    height: auto;
    color: #000000;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: rgb(255, 49, 133);
    background: linear-gradient(-45deg, rgb(255, 49, 133) 0%, rgb(255, 222, 87) 24%, rgb(198, 226, 215) 39%, rgb(255, 91, 99) 75%, rgb(249, 25, 99) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    margin-top: 50px;
}

nav.menu__principal ul {
    display: flex;
    justify-content: center;
}

nav.menu__principal ul li img {
    padding: 15px;
    width: 50px;
    height: 50px;
}

nav.menu__principal ul li img:hover {
    opacity: 0.5;
    transition: all 0.5s ease;
}

nav.menu__principal ul li img.active {
    filter: drop-shadow(8px 8px 8px #666);
}

section {
    border-radius: 5px;
    box-shadow: 0px 0px 12px #0000002b;
}

#texto__principal .foto img {
    height: 50vh;
    opacity: 0;
    animation: opacidade 2s linear forwards;
}

#texto__principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nome {
    font-size: 3vw;
    font-style: italic;
    padding: 5px;
}

.texto__principal-inicio {
    background-color: rgba(255, 204, 238, 0.388);
    margin: 0 auto;
    width: 60vw;
    margin-top: 2%;
    max-height: 0vh;
    overflow: hidden;
    animation: altura 0.5s linear forwards 0.5s;
}

@keyframes opacidade {
    100% {
        opacity: 1
    }
}

@keyframes altura {
    100% {
        max-height: 100vh
    }
}

section {
    display: none;
}

section.active {
    display: block;
}

.titulo__formacao {
    font-size: 35px;
    text-align: center;
}

#formacao p {
    font-size: 15px;
}

#formacao h2 {
    font-size: 25px;
}

#experiencias h1 {
    font-size: 35px;
    text-align: center;
}

#experiencias h2 {
    font-size: 25px;
}

#formacao p {
    font-size: 15px;
}

#contato h1 {
    font-size: 35px;
    text-align: center;
}

.icone__contato {
    width: 80px;
    height: 80px;
    display: inline-block;
    padding: 15px;
    margin-left: 27px;
}

@media (max-width: 712px) {
    #texto__principal {
        flex-direction: column;
    }
    .nome {
        font-size: 5vw;
    }
    .texto__principal-inicio {
        width: 90vw;
    }
}