/*css comum a todos*/

#texto__principal {
    text-align: center;
    display: flex;
    background-color: rgb(247, 208, 234);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#texto__principal .img {
    height: 50vh;
    opacity: 0;
    animation: opacidade 2s linear forwards;
}

#texto__principal h1 {
    width: 50%;
    text-align: center;
}

#texto__principal .img img {
    height: 50vh;
}

.nome {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-style: italic;
}


/*css do inicio*/

@import 'https://fonts.googleapis/css?family=Roboto:300,400,500';
body {
    width: auto;
    height: auto;
    background-attachment: fixed;
    background-image: url(../Imagens/gradienta-LeG68PrXA6Y-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__principal {
    display: inline;
}

.menu__principal-icone {
    display: flex;
    margin-left: 35.5%;
    margin-top: 5%;
    padding: 15px;
    width: 50px;
    height: 50px;
}

.menu__principal-icone a:hover {
    opacity: 0.5;
    transition: all 0.5s ease;
}

@keyframes opacidade {
    100% {
        opacity: 1
    }
}

@keyframes altura {
    100% {
        max-height: 100vh
    }
}

.texto__principal-inicio {
    background-color: rgb(247, 208, 234);
    margin: 0 auto;
    width: 60vw;
    margin-top: 2%;
    align-items: center;
    max-height: 0vh;
    overflow: hidden;
    animation: altura 2s linear forwards 1s;
}


/* css formação*/

.titulo__formacao {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


/*css experiencia*/

h1 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}


/*css contato*/

h1 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
}

.icone__contato {
    width: 40px;
    height: 40px;
    margin-left: 6%;
    float: center;
}